@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    .active {
        @apply bg-custom-gradient bg-clip-text text-transparent;
    }

    .title {
        font-family: "Lato", sans-serif;
        @apply text-6xl font-bold;
        line-height: 73px;
    }

    .section-title {
        @apply font-bold gradient-text mb-8 text-center;
        font-size: 40px;
    }

    .sub-title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        @apply text-3xl;
        line-height: 48px;
    }

    .paragraph {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }

    .italic {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 200;
        font-size: 18px;
        line-height: 30px;
    }

    .gradient-text {
        @apply bg-custom-gradient bg-clip-text text-transparent;
    }

    .gradient-back {
        @apply bg-gradient-to-r from-[#1E2A5E] via-[#37467B] to-[#55679C];
    }

    .black-75 {
        color: #232325;
        opacity: 0.75;
    }
}

li {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
}